<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>SignUp</h1>
          <h6>Register Yourself !!</h6>
        </div>
        <form #signUpForm="ngForm" (ngSubmit)="loginUser(signUpForm);">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" ngModel email required #email="ngModel">
            <div class="form-text text-muted" *ngIf="email.touched && !email.valid">Enter the Correct E-Mail ID.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="username" ngModel required #username="ngModel">
            <div class="form-text text-muted" *ngIf="username.touched && !username.valid">Enter the User Name</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required #password="ngModel">
            <div class="form-text text-muted" *ngIf="password.touched && !password.valid">Please Enter the correct Password</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Re-Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="repassword" ngModel required #repassword="ngModel">
            <div class="form-text text-muted" *ngIf="repassword.touched && !repassword.valid">Re-Enter the correct password</div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="terms" ngModel required>
            <label class="form-check-label" for="exampleCheck1">Agree to Terms</label>
          </div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!signUpForm.valid">SignUp</button>
        </form>
      </div>
    </div>
  </div>
</div>